/* ===================================== 
   Page Styles
======================================== */

* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 27, 27);
    /* background-image: linear-gradient(to bottom right, #000,rgb(65, 65, 65)) */
}

.main-content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input {
    border: none;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

footer {
    height: 100px;
    max-width: 1000px;
    margin: 40px auto;

    
}


/* ===================================== 
   Grid Layout
======================================== */

.container {
    max-width: 862px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.wrapper {
    display: flex;
    max-width: 550px;
    margin: 0 auto;

}

input {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    /* border-radius: 5px; */
    background-color:  rgb(27, 27, 27);;
    border-bottom: 1px solid darkgray;
    color: darkgray;
    font-family: 'Open Sans';
    padding: 8px;
    outline: 0;
}


.inner-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.inner-wrapper img {
  min-width: 20%;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  filter: brightness(100%);
}

.inner-wrapper img:hover {
  transform: translate(5px, -5px);
  filter: brightness(75%);
}


.lb-caption {
    font-family: 'Arial';
}

.lb-data .lb-caption {
    font-size: 15px;
}

footer p {
    color: darkgray;
    text-align: center;
    font-family: 'Arial';
}